<template>
    <div class="mt-4">
        <div class="m-auto" v-if="user.vendor">
            <div class="alert alert-warning text-center" role="alert">
                You are already associated with vendor <b>{{ user.vendor.name }}</b>
            </div>
        </div>
        <div v-else class="row">
            <h1 class="">
                Add Vendor
            </h1>
            <div class="col-5 offset-2 pt-5">
                <form @submit.prevent="addVendor" @keydown="form.onKeydown($event)">

                    <div class="form-group">
                        <label for="vendorform-name">Name</label>
                        <input id="vendorform-name" :class="{ 'is-invalid': form.errors.has('name') }"
                               class="form-control mb-2" name="name" placeholder="Acme Inc."
                               type="text"
                               v-model="form.name">
                        <has-error :form="form" field="name"/>
                    </div>
                    <div class="form-group">
                        <label for="vendorform-email">E-mail</label>
                        <input id="vendorform-email" :class="{ 'is-invalid': form.errors.has('email') }"
                               class="form-control mb-2" name="email" placeholder="vendor@gmail.com"
                               type="email"
                               v-model="form.email">
                        <has-error :form="form" field="email"/>
                    </div>
                    <div class="form-group">
                        <label for="vendorform-vat_no">VAT Number</label>
                        <input id="vendorform-vat_no" :class="{ 'is-invalid': form.errors.has('vat_no') }"
                               class="form-control mb-2" name="vat_no" placeholder="45/227567568"
                               type="text"
                               v-model="form.vat_no"
                        >
                        <has-error :form="form" field="vat_no"/>
                    </div>
                    <div class="form-group">
                        <label for="vendorform-bank_account">Bank Account Number</label>
                        <input id="vendorform-bank_account" :class="{ 'is-invalid': form.errors.has('bank_account') }"
                               class="form-control mb-2" name="bank_account" placeholder="ME234-3454376" type="text"
                               v-model="form.bank_account"
                        >
                        <has-error :form="form" field="bank_account"/>
                    </div>
                    <v-button :loading="form.busy" class="mt-2 float-right w-50">
                        Submit
                    </v-button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Form from 'vform'
    import { mapGetters } from 'vuex'

    export default {
        name: 'AddVendor',
        data () {
            return {
                form: new Form({
                    name: '',
                    email: '',
                    vat_no: '',
                    bank_account: ''
                }),
            }
        },
        computed: {
            ...mapGetters({
                user: 'auth/user'
            })
        },
        methods: {
            async addVendor () {
                const { data } = await this.form.post('/api/vendors')

                this.$router.push({ name: 'home' })
            }
        }
    }
</script>
