<template>
    <div class="mt-4">
        <div class="row mb-3">
            <h1>
                Add Card
            </h1>
        </div>
        <div class="row">
            <div class="col-4">
                <form @submit.prevent="addCard" @keydown="form.onKeydown($event)">

                    <div class="form-group">
                        <label for="cardform-card_number">Card Number</label>
                        <input id="cardform-card_number" :class="{ 'is-invalid': form.errors.has('card_number') }"
                               class="form-control mb-2" name="card_number" placeholder="1111 2222 3333 4444"
                               type="tel"
                               v-model="form.card_number">
                        <has-error :form="form" field="card_number"/>
                    </div>
                    <div class="form-group">
                        <label for="cardform-name_on_card">Full Name</label>
                        <input id="cardform-name_on_card" :class="{ 'is-invalid': form.errors.has('name_on_card') }"
                               class="form-control mb-2" name="name_on_card" placeholder="John Doe"
                               type="text"
                               v-model="form.name_on_card">
                        <has-error :form="form" field="name_on_card"/>
                    </div>
                    <div class="form-group">
                        <label for="cardform-exp_date">Expiry Date</label>
                        <input id="cardform-exp_date" :class="{ 'is-invalid': form.errors.has('exp_date') }"
                               class="form-control mb-2" name="exp_date" placeholder="11/22"
                               type="tel"
                               v-model="form.exp_date"
                        >
                        <has-error :form="form" field="exp_date"/>
                    </div>
                    <div class="form-group">
                        <label for="cardform-cvv">CVC</label>
                        <input id="cardform-cvv" :class="{ 'is-invalid': form.errors.has('cvv') }"
                               class="form-control mb-2" name="cvv" placeholder="567" type="number"
                               v-model="form.cvv"
                        >
                        <has-error :form="form" field="cvv"/>
                    </div>
                    <v-button :loading="form.busy" class="mt-2 float-right w-50">
                        Submit
                    </v-button>
                </form>
            </div>
            <div class="col-4 offset-2">
                <vueCard v-model="cardDetail"></vueCard>
            </div>
        </div>
    </div>
</template>

<script>
    import vueCard from '@codeanker/vue-credit-card/src/components/Card'
    import Form from 'vform'

    export default {
        name: 'AddCard',
        components: {
            vueCard
        },
        data () {
            return {
                form: new Form({
                    card_number: '',
                    name_on_card: '',
                    exp_date: '',
                    cvv: ''
                }),
            }
        },
        computed: {
            cardDetail() {
                return {
                    number: this.form.card_number,
                    name: this.form.name_on_card,
                    expiry: this.form.exp_date,
                    cvc: this.form.cvc
                }
            }
        },
        methods: {
            async addCard () {
                const { data } = await this.form.post('/api/cards')

                this.$router.push({ name: 'cards' })
            }
        }
    }
</script>
