<template>
    <div class="row text-center">
        <div class="m-auto" v-if="user.vendor">
            <div class="alert alert-warning" role="alert">
                You are already associated with vendor <b>{{ user.vendor.name }}</b>
            </div>
        </div>
        <div v-else-if="vendor" class="m-auto">
            <span class="lead">
                Would you like to join the Vendor:
            </span>
            <h2>
                {{ vendor.name }}
            </h2>
            <div class="alert alert-danger mt-5" role="alert">
                This action is irreversible!
            </div>
            <button type="button" class="btn btn-primary btn-lg" @click="associate">Join</button>
        </div>
        <h3 v-if="!vendor && !user.vendor" class="m-auto">
            Loading...
        </h3>
    </div>
</template>

<script>
    import axios from 'axios'
    import { mapGetters } from 'vuex'
    import Swal from 'sweetalert2'

    export default {
        name: 'AssociateVendor',
        data () {
            return {
                vendorId: this.$route.params.id,
                vendor: null
            }
        },
        created () {
            this.fetchVendor()
        },
        computed: {
            ...mapGetters({
                user: 'auth/user'
            })
        },
        methods: {
            async fetchVendor () {
                try {
                    const response = await axios.get(`/api/vendors/${this.vendorId}`)
                    if (response.status === 200) {
                        this.vendor = response.data
                    } else {
                        Swal.fire(
                          'Error',
                          'Invalid vendor provided',
                          'error'
                        ).then(() => {
                            router.push({ name: 'home' })
                        })
                    }
                } catch (error) {
                    Swal.fire(
                      'Error',
                      'Error communicating with server. Try again later.',
                      'error'
                    ).then(() => {
                        router.push({ name: 'home' })
                    })
                }
            },

            async associate () {
                try {
                    const response = await axios.post(`/api/vendors/${this.vendorId}/associate`)
                    if (response.status === 200) {
                        Swal.fire({
                            type: 'success',
                            title: 'Joined team successfully!',
                            timer: 1000,
                            showConfirmButton: false
                        })
                        await this.$store.dispatch('auth/fetchUser')
                        this.$router.push({ name: 'home' })
                    } else {
                        Swal.fire(
                          'Error',
                          'Error associating with vendor',
                          'error'
                        ).then(() => {
                            router.push({ name: 'home' })
                        })
                    }
                } catch (error) {
                    Swal.fire(
                      'Error',
                      'Error communicating with server. Try again later.',
                      'error'
                    ).then(() => {
                        router.push({ name: 'home' })
                    })
                }
            }
        }
    }
</script>

<style scoped>

</style>
