<template>
    <div class="mb-5">

        <div class="row">
            <div class="col-10">
                <h1>Credit Cards</h1>
            </div>
            <div class="col-2">
                <router-link :to="{ name: 'add.card' }" class="btn btn-primary">
                    Add Card
                </router-link>
            </div>
        </div>
        <div class="row ">
            <div class="col-8">
                <CreditCard v-for="card in cards" v-bind="card" v-bind:key="card.id"/>
            </div>
        </div>

    </div>
</template>

<script>
    import axios from 'axios'
    import CreditCard from '~/components/CreditCard'

    export default {
        components: { CreditCard },
        middleware: 'auth',

        data () {
            return {
                cards: []
            }
        },

        async created () {
            let response = await axios.get('/api/cards')
            this.cards = response.data
        },

        metaInfo () {
            return { title: 'Credit Cards' }
        }
    }
</script>
