<template>
    <div class="row mt-5">
        <div class="col-4 offset-1">
            <div class="form-group mb-3">
                <label for="form-amount">Amount to transfer</label>
                <input id="form-amount" v-model="amount" class="form-control form-control-lg" type="number"
                       placeholder="123 (EUR)">
            </div>
            <hr>
            <toggle-button :color="{unchecked: '#CCCCCC', checked: '#82C7EB', disabled: '#CCCCCC'}"
                           :height="35"
                           :width="130"
                           :font-size="18"
                           v-model="toCard"
                           :labels="{checked: 'To Card', unchecked: 'From Card'}"/>
            <button type="button" class="btn btn-primary float-right" :class="{ 'disabled': amount <= 0 }" @click="askToSend">Transfer</button>
        </div>
        <div class="col-4 offset-1">
        <vueCard v-model="cardDetail" v-if="card"></vueCard>
        </div>
    </div>
</template>

<script>
    import vueCard from '@codeanker/vue-credit-card/src/components/Card'
    import Swal from 'sweetalert2'
    import axios from 'axios'
    import router from '~/router'
    import {ToggleButton} from 'vue-js-toggle-button'

    export default {
        name: 'CardTransfer',
        components: {
            vueCard,
            ToggleButton
        },
        data () {
            return {
                amount: null,
                toCard: false,
                cardId: this.$route.params.id,
                card: null
            }
        },

        created () {
            this.fetchCard();
        },

        methods: {
            async fetchCard() {
                try {
                    const response = await axios.get('/api/cards/' + this.cardId);
                    if (response.status === 200) {
                        this.card = response.data;
                    }
                    else {
                        Swal.fire(
                          'Error',
                          'Invalid Credit Card supplied',
                          'error'
                        ).then(() => {
                            router.push({ name: 'cards' })
                        })
                    }
                } catch (error) {
                    Swal.fire(
                      'Error',
                      'Error communicating with server. Try again later.',
                      'error'
                    ).then(() => {
                        router.push({ name: 'cards' })
                    })
                }
            },

            async askToSend () {
                if(this.amount <= 0) return;

                let result = await Swal.fire({
                    title: `Confirm transaction of ${this.amount} EUR`,
                    text: `${this.toCard ? 'To' : 'From'} Card Ending in ${this.card.last_digits}`,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Confirm',
                    cancelButtonText: 'Decline'
                })

                if (result.value) {
                    this.transferMoney()
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    Swal.fire(
                      'Cancelled',
                      'Transaction cancelled',
                      'error'
                    )
                }
            },

            async transferMoney() {
                try {
                    const response = await axios.post(`/api/transactions/transfer/${this.transferDirection}/${this.cardId}`,
                      { amount: this.amount });
                    if (response.status === 201) {
                        Swal.fire(
                          'Transaction complete',
                          'The money has been transferred',
                          'success'
                        )
                    }
                    else {
                        Swal.fire(
                          'Error',
                          'Invalid Credit Card supplied',
                          'error'
                        )
                    }
                } catch (error) {
                    console.log(error)
                    Swal.fire(
                      'Error',
                      'Error communicating with server. Try again later.',
                      'error'
                    )
                }
            }
        },

        computed: {
            cardDetail() {
                return {
                    number: `**** **** **** ${this.card.last_digits}`,
                    name: this.card.name_on_card,
                    expiry: '**/**',
                    cvc: '***'
                }
            },
            transferDirection() {
                return this.toCard ? 'out' : 'in';
            }
        },
    }

</script>

<style scoped>

</style>
