<template>
    <div>
        <h1>Select Page</h1>
            <router-link v-if="!user.vendor" :to="{ name: 'cards' }">
                Credit Cards
            </router-link>
            <router-link v-if="!user.vendor" :to="{ name: 'add.card' }">
                Add Card
            </router-link>
            <router-link v-if="!user.vendor" :to="{ name: 'send.money' }">
                Send Money
            </router-link>
            <router-link :to="{ name: 'receive.money' }">
                Receive Money
            </router-link>
            <router-link :to="{ name: 'transactions' }">
                Transactions
            </router-link>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        middleware: 'auth',

        metaInfo () {
            return { title: this.$t('home') }
        },

        computed: {
            ...mapGetters({
                user: 'auth/user'
            })
        },
    }
</script>

<style scoped>
    a {
        display: block;
        font-size: 2rem;
        font-weight: bold;
    }
</style>
