<template>
    <div class="row align-self-center d-flex flex-column align-items-center">
        <div class="mb-5 col-6 align-self-center d-flex flex-column align-items-center">
            <h1 class="display-4 text-center">Receive money</h1>
            <p class="lead">
                Let another user send you money by scanning your code:
            </p>
            <div class="input-group mb-3">
                <input v-model="amount" id="form-amount" class="form-control form-control-lg" type="number"
                       placeholder="123 (EUR)">
            </div>
            <vue-qr gifBgSrc='images/logo2.gif' :text='JSON.stringify(jsonData)' :size="400"></vue-qr>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    import axios from 'axios'
    import VueQr from 'vue-qr'

    export default {
        middleware: 'auth',
        name: 'receive_money',
        components: {
            VueQr
        },
        data () {
            return {
                amount: 0,
            }
        },
        computed: {
            ...mapGetters({
                user: 'auth/user'
            }),
            jsonData () { //TODO: Add support for vendors
                if(this.user.vendor)
                    return { type: 'vendor', id: this.user.vendor.id, amount: this.amount }
                else
                    return { type: 'user', id: this.user.id, amount: this.amount }
            }
        },
        metaInfo () {
            return { title: 'Receive Money' }
        }
    }
</script>
