<template>
  <div class="mb-5">
    <h1 class="display-4">
      Send money
    </h1>
    <p class="lead">
      Send money to another user by scanning their code:
    </p>
    <QRScan :destroyed="destroyed" @scanned="onScan" />
  </div>
</template>

<script>
    import axios from 'axios'
    import QRScan from '~/components/QRScan'
    import Swal from 'sweetalert2'

    export default {
        name: 'SendMoney',

        components: {
            QRScan
        },
        middleware: 'auth',

        data () {
            return {
                destroyed: false,
                transaction: {
                    type: '',
                    amount: 0,
                    id: 0
                },
                entity: {}
            }
        },

        methods: {
            async onScan (value) {
                console.log(value)
                if (this.validJson(value)) {
                    this.destroyed = true
                }

                await this.fetchEntityDetail()
                await this.askToSend()
            },
            validJson (string) {
                try {
                    let transaction = JSON.parse(string)
                    if (!('type' in transaction && 'amount' in transaction && 'id' in transaction /* && Object.keys(entity).length */)) {
                        return false
                    }

                    this.transaction = transaction
                } catch (e) {
                    console.log(e)
                    return false
                }
                return true
            },
            async fetchEntityDetail () {
                let detail = await axios.get(`api/${this.transaction.type}s/${this.transaction.id}`)
                this.entity = detail.data
            },
            async askToSend () {
                let result = await Swal.fire({
                    title: `Confirm transaction of ${this.transaction.amount} EUR`,
                    text: `To ${this.entity.name}`,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Confirm',
                    cancelButtonText: 'Decline'
                })

                if (result.value) {
                    this.sendMoney()
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    Swal.fire(
                      'Cancelled',
                      'Transaction cancelled',
                      'error'
                    )
                }

                this.destroyed = false
            },
            async sendMoney () {
                try {
                    const response = await axios.post(`api/transactions/send/${this.transaction.type}/${this.transaction.id}`, { amount: this.transaction.amount })
                    if (response.status === 201) {
                        Swal.fire(
                          'Transaction complete',
                          'The money has been transferred',
                          'success'
                        )
                    } else {
                        Swal.fire(
                          'Error',
                          'Could not make the transaction',
                          'error'
                        )
                    }
                } catch (error) {
                    Swal.fire(
                      'Error',
                      'Error communicating with server. Try again later.',
                      'error'
                    )
                }
            }
        },

        metaInfo () {
            return { title: 'Send Money' }
        }
    }
</script>

<style>
</style>
