<template>
    <div class="mb-5">

        <div class="row">
            <div class="col-10">
                <h1>Transactions</h1>
            </div>
            <div class="col-2">
                <router-link :to="{ name: 'send.money' }" class="btn btn-primary">
                    Add Transaction
                </router-link>
            </div>
        </div>
        <div class="row ">
            <div class="col-8">
                <Transaction v-for="transaction in transactions" v-bind="transaction" v-bind:key="transaction.id"/>
            </div>
        </div>

    </div>
</template>

<script>
    import axios from 'axios'
    import Transaction from '~/components/Transaction'

    export default {
        components: { Transaction },
        middleware: 'auth',

        data () {
            return {
                transactions: []
            }
        },

        async created () {
            let response = await axios.get('/api/transactions')
            this.transactions = response.data
        },

        metaInfo () {
            return { title: 'Transactions' }
        }
    }
</script>
