<template>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">**** **** **** {{ last_digits }}</h5>
            <p class="card-text">{{ name_on_card }}</p>
            <router-link :to="{ name: 'card.transfer', params: { id } }" class="btn btn-primary float-right">
                Transfer out
            </router-link>
            <router-link :to="{ name: 'card.transfer', params: { id }}" class="btn btn-primary float-right mr-3">
                Transfer in
            </router-link>
        </div>
        <div class="card-footer text-muted">
            Added {{ ago }}
        </div>
    </div>
</template>
<script>
    import moment from 'moment/moment';

    export default {
        name: 'CreditCard',
        props: ['id', 'last_digits', 'name_on_card', 'created_at'],
        computed: {
            ago() {
                return moment(this.created_at).fromNow();
            }
        },
    }
</script>
