<template>
    <div>
        <qrcode-stream @init="onInit" @decode="onDecode" v-if="!destroyed">
            <div class="loading-indicator" v-if="loading">
                Loading...
            </div>
            <span class="error">{{ error }}</span>
        </qrcode-stream>
    </div>
</template>

<script>
    import { QrcodeStream } from 'vue-qrcode-reader'

    export default {
        components: {
            QrcodeStream
        },
        props: ['destroyed'],

        data () {
            return {
                loading: false,
                error: ''
            }
        },
        methods: {
            async onInit (promise) {
                this.loading = true

                try {
                    await promise
                } catch (error) {
                    if (error.name === 'NotAllowedError') {
                        this.error = "ERROR: you need to grant camera access permisson"
                    } else if (error.name === 'NotFoundError') {
                        this.error = "ERROR: no camera on this device"
                    } else if (error.name === 'NotSupportedError') {
                        this.error = "ERROR: secure context required (HTTPS, localhost)"
                    } else if (error.name === 'NotReadableError') {
                        this.error = "ERROR: is the camera already in use?"
                    } else if (error.name === 'OverconstrainedError') {
                        this.error = "ERROR: installed cameras are not suitable"
                    } else if (error.name === 'StreamApiNotSupportedError') {
                        this.error = "ERROR: Stream API is not supported in this browser"
                    }
                } finally {
                    this.loading = false
                }
            },
            onDecode (decodedString) {
                this.$emit('scanned', decodedString)
            }
        }
    }
</script>

<style scoped>
    .loading-indicator {
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
    }
    .error {
        font-weight: bold;
        color: red;
    }
</style>
