<template>
    <div class="card mt-4" :class="{ 'border-success': received, 'border-danger': !received}">
        <div class="card-body">
            <h4 class="card-title">
                <span class="text-secondary">{{ received ? 'Received' : 'Sent'}}</span>
                <b>{{ amount }} EUR</b>
                <span class="text-secondary font-weight-bold float-right">{{ received ? 'From' : 'To'}} {{ entityType }}</span>
            </h4>
            <span class="text-secondary font-weight-light">Transaction ID: {{ id }}</span>
            <h5 class="card-text float-right">{{ entityName }}</h5>
        </div>
        <div class="card-footer text-muted">
            Completed {{ ago }}
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    import moment from 'moment/moment'

    export default {
        name: 'Transaction',
        props: ['id', 'amount', 'receiver_type', 'sender_type', 'created_at', 'sender', 'receiver'],
        computed: {
            ...mapGetters({
                user: 'auth/user'
            }),
            ago () {
                return moment(this.created_at).fromNow()
            },
            received () {
                return this.user.id === this.receiver.id
            },
            other () {
                return this.user.id === this.sender.id && this.sender.type === 'user' ?
                  { type: this.receiver_type, entity: this.receiver } :
                  { type: this.sender_type, entity: this.sender }
            },
            entityType () {
                if (this.other.type === 'card') {
                    return 'Credit Card ending in '
                } else if (this.other.type === 'vendor') {
                    return 'Vendor '
                } else {
                    return 'User '
                }
            },
            entityName () {
                if (this.other.type === 'card') {
                    return this.other.entity.last_digits
                } else if (this.other.type === 'vendor') {
                    return this.other.entity.name
                } else {
                    return this.other.entity.name
                }
            }
        },
    }
</script>

<style scoped>

</style>
